<!--home-->
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <img src="../images/logo.png" alt="Logo" class="logo">
        <h1>ĐĂNG KÝ ĐỒ ÁN</h1>
        <nav>
            <div class="right">
                <a href="/login">Đăng Nhập</a>
                <a href="/register/user">Đăng Ký</a>
            </div>
        </nav>
    </header>
</body>
</html>
